body{font:12px Arial,Verdana,Tahoma,"ו";overflow: auto;}
*{padding: 0;margin: 0}

/*  top  */
.top_main{width: 100%; height:30px; background: url('../images/top.jpg') repeat-x;}
.top_main .inner{margin: 0 auto; width: 900px;height: 30px;color:gray;}
.top_main a{color: gray;text-decoration: none;}
.top_main a:HOVER {color: red;text-decoration: underline;}
/* end top*/

/* logo */
.logo{margin: 10px auto;width: 900px;height: 50px;}
.logo marquee{font-family: sans-serif;font-size: 13px;color: #CA8EFF;}
/*  end logo*/

/*  menu  */
.menu #slatenav {margin: 0 auto;width: 900px;display: block;height: 42px;font-size: 14px;font-weight: bold;background: transparent url(../images/blueslate_background.gif) repeat-x top left;font-family: Arial, Verdana, Helvitica, sans-serif;text-transform: uppercase;}
.menu #slatenav ul {margin: 0px;padding: 0;list-style-type: none;width: auto;}
.menu #slatenav ul li {display: block;float: left;margin: 0 1px 0 0;}
.menu #slatenav ul li a {display: block;float: left;color: #3C3C3C;text-decoration: none;padding: 14px 22px 0 22px;height: 28px;}
.menu #slatenav ul li a:hover {color: #fff;background: transparent url(../images/blueslate_backgroundOVER.gif) no-repeat top center;}
/*  end menu  */

/*  bottom */
.bottom{margin: 10px auto;width: 900px;border-top: 2px solid blue;}
.bottom .content{width: 900px;margin:4px auto; text-align: center;}
/*  end bottom */

/*  title */
.title{width: 900px;height: 36px;background: url("../images/tdbj.gif") repeat-x;margin: 2px auto;padding-top: 5px;}
/*  end title*/

.main{width: 900px;margin: 0px auto;border: 1px solid #BBFFBB;padding: 0;}

a{
	color: gray;
	text-decoration: none;
}
a:HOVER {
	color: blue;
	text-decoration: underline;
}